{# templates/admin/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="container">
        {# Wyświetlenie błędu w przypadku nieudanej próby logowania #}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('admin_login') }}" method="post">
            <label for="username">Login:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

            <label for="password">Hasło:</label>
            <input type="password" id="password" name="_password" required>

            <input type="hidden" name="_target_path" value="/admin"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Zaloguj</button>
        </form>
    </div>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049;
        }

        .alert {
            margin-bottom: 15px;
            padding: 10px;
            background-color: #f2dede;
            border: 1px solid #ebccd1;
            border-radius: 4px;
            color: #a94442;
        }
    </style>

{% endblock %}
