<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
</head>
<body>
<div class="thank-you-container">
    <h1>Dziękujemy!</h1>
    <p>Twoja wiadomość została otrzymana. Jesteśmy wdzięczni za Twoją opinię.</p>
</div>
</body>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #fad1d1;
        color: #333;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .thank-you-container {
        text-align: center;
    }

</style>
</html>
